/* TODO: create fluid tiled effect */
<ol>
  <% photos.each do |photo| %>
    <li>
      /* TODO: link to full size */
      <img src="<% photo.url %>" alt="<%= photo.name %>" class="preview" />
    </li>
  <% end %>
</ol>
