/* reset */
* {
  margin: 0;
  padding: 0;
}
ul, li, ol {
  list-style: none;
}
html, body {
  height: 100%;
}

/* photo list */
.photos {
  clear: both;
}
.photos__photo {
  float: left;
  margin: 5px;
}
.photos__photo img {
  max-width: 320px;
  max-height: 240px;
}

/* photo */
.photo {
  height: 100%;
}
.photo img {
  max-width: 100%;
  max-height: 100%;
}

/* tag list */
.tags {
  overflow: auto;
}
.tags__tag {
  float: left;
  margin: 5px;
}
