<ol class="photos">
  <% photos.each do |photo| %>
    <li class="photos__photo">
      <a href="<%= photo.url %>">
        <img src="/<%= Photor.path(photo.taken_at, photo.filename) %>" />
      </a>
    </li>
  <% end %>
</ol>
